.fec-daily-grid {
  // background-color: pink;
  height: 1920px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  .event-colom {
    // background-color: rgb(243, 163, 163);
    flex: 1 1 0px;
    height: 80px;
    position: relative;
  }
  .ec-event {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 74, 165);
    top: 300%;
    border: 1px solid white;
    border-radius: 16px;
    padding: 5px;
  }
  .time-range {
    // background-color: green;
    border: 1px solid rgba(0, 0, 0, 0.384);
    flex: 1 1 0px;
    display: flex;
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
